html {
    padding: 0;
}

h1 {
    text-align: center;
    margin-top : 0 ;
    margin-bottom: 0 ;
    background: dimgray;
}

ul  {
    margin-top: 0;
    text-align: center;
    background: darkgray;
}

input {
    display: block;
}

a:visited {
    color: black;
}

a:hover {
    color: dimgray;
}

a:link {
    text-decoration: none;
}

nav > li:first-child{
    border-left: black;
    border-left-style: solid;
}

nav li{
    display: inline-block;
    padding: 1%;
    border-right: black;
    border-right-style: solid;
}

li {
    padding : 1%;
}

div {
    background: #505050 ;
    margin-bottom: 2%;
    padding : 3px;
    border-radius: 10px;
}

p {
    background: #606060 ;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 10px;
}

footer {
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    background: darkgray;
    padding-bottom: 30px;
    padding-top: 10px;
}